<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation strict="false" explicit="true" targetFramework="4.0" />
      <httpRuntime targetFramework="4.0"  />
    </system.web>
 <appSettings>
   	 	<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
</appSettings>
<connectionStrings>
  
      <add name="ECA"
        providerName="System.Data.SqlClient" connectionString="Data Source=WIN-HWI3OG\SQLEXPRESS;Initial Catalog=ECA;Integrated Security=false;Pooling=False;User ID=sa;Password=123456789" />
</connectionStrings>
     <!-- load the data source-->
</configuration>
